<!DOCTYPE html>
<html>
<head>
 <title>Diabetes predicted</title>
</head>

<body>
<h2>Diabetes prediction explainer</h2>
<p align="center"><a href={{ url_for('return_dashboard') }}><button class=grey style="height:75px;width:150px">View Explainer</button></a></p>
<h2>Diabetes exploratory data analysis</h2>
<p align="center"><a href={{ url_for('return_eda') }}><button class=grey style="height:75px;width:150px">View EDA</button></a></p>

</body>
</html>